body {
    width: 100%;
    height: 100%;
    background-color: hsl(220, 15%, 55%);
}

div {
    width: 250px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 20px, black;
    align-content: center;
    margin-left: 38%;
    margin-top: 10%;
    box-shadow: 10px black;
}

img {
    border-radius: 10%;
    width: 230px;
    height: 240px;
    padding-top: 10px;
    margin-left: 4%;
}

h4 {
    text-align: center;
    font-size: medium;
    margin-top: 2%;
    margin-left: 1%;
    font-weight: 700px;

}

p {
    margin-top: 2%;
    margin-left: 1%;
    font-size: smaller;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400px;

}

@media only screen and (max-width: 400px) {
    /* For mobile phones: of screen size 400px and below*/
    body {
        width: 100%;
        height: 100%;
        background-color: hsl(220, 15%, 55%);
    }
    
    div {
        width: 250px;
        height: 400px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        box-shadow: 20px, black;
        align-content: center;
        margin-left: 15%;
        margin-top: 10%;
        box-shadow: 10px black;
    }
}
